/* SLIDER */
.slider-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.slider-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 15px;
}

.slider-item {
  min-width: 310px;
  height: 40vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 10px;
  border: 1px solid var(--color-primario);
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.slider-item-text {
  background-color: var(--color-primario);
}