@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primario: rgba(192, 192, 192, 0.367);
  --color-text:  #474747;
}

* {
  box-sizing: border-box;
}
html {
  font-family: 'Inter', sans-serif;
  color: var(--color-text);
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

/* SECTION HEADER */
.sectionHeader {
  background-color: var(--color-primario);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  
  width: 100%;
  height: 5vh;
  
  text-align: center;
  padding: 0.2rem;
}

/* triangle */
.sectionHeader::before {
  content: '';
  position: absolute;
  bottom: -90px;
  border-top: 90px solid var(--color-primario);
  left: 0;
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

.sectionHeader__content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 100%;
  
  font-size: 1.5rem;
}

/* SECTION SITE */
.sectionSite {
  scroll-snap-align: start;
  scroll-margin-top: 12vh;
  
  border-bottom: 1px solid white;
  height: 100vh;
  margin-top: 12vh;
  padding: 10% 5%;
}


/* SLIDER */
.slider-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.slider-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* Horizontal snapping */
  scroll-behavior: smooth;       /* Smooth scrolling between items */
  gap: 15px;                     /* Space between the slider items */
  margin: 0 10px;
}

.slider-item {
  min-width: 300px;              /* Width of each item */
  height: 40vh;                 /* Height of each item */
  background-color: var(--color-primario);   /* Background color for visibility */
  scroll-snap-align: start;      /* Align each item to the start of the container */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 10px;
  flex-shrink: 0;                /* Prevent items from shrinking */
}

.slider-container::-webkit-scrollbar {
  display: none;
}